h1, h2, h3, h4, h5, .btn, a, body, p, span, div{
  font-family: 'Lato', sans-serif;
}

.btn{
  padding: 5px 8px;
}

.hidden{
  display: none;
}

.project-track.loaded {
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  float:left;
  width: 90%;
  margin-left: 3%;
}

.track-list{
  list-style-type: none;
}

.track-list .track-title{
  font-family: 'Lato', sans-serif;
  font-size:1.1em;
  clear: both;
  padding: 0 0 0 3%;
}

.track-item {
  border-bottom: 1px solid #dadada;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 0;
}

.controls {
    background: #385A6B;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
}

.controls-inline {
  float: left;
  width: 5%;
}

.controls-inline .btn{
  font-size: .9em;
  display:block;
  margin: 0 0 5px 0;
}
