.link-delete {
    margin-left: 10px;
    color: $brand-danger;
    border: none;
    background: inherit;
}

.btn{
    form{
        margin: 0;
        display: inline;
    }
}

.badge-success{
    background: $brand-success;
}

.badge-danger{
    background: $brand-danger;
}

.autocomplete-suggestions {
    background: $bg-light;
    padding: 10px;
    border-left: 1px solid $laravel-border-color;
    border-right: 1px solid $laravel-border-color;
    border-bottom: 1px solid $laravel-border-color;
    border-radius: 0 0 4px 4px;

    .autocomplete-suggestion:hover{
        background: $bg-info;
    }
}
