.main-content{
    margin-top: 50px;
    padding-top: 50px;
    max-width: 1200px;

    .row-content{
        padding: 20px;
        background: white;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        min-height: 250px;
    }
}
