.main-content{
    margin-top: 50px;
    padding-top: 50px;
    max-width: 1200px;

    .row-content{
        padding: 20px;
        background: white;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        min-height: 250px;

        &.has-nav{
            border-top: none;
        }
    }
}

.lower{
    text-transform: lowercase;
}
