.sidebar{
    height:100%;
    background: $bg-dark;
    color: #fff;
    position: absolute;
    z-index: 9999;
    width: 0;
    left: 0;
    overflow: hidden;
    top: 0;
    transition: width .15s ease-in-out;

    &.expanded{
        width: 250px;
        border-right: 2px solid #354b56;
    }

    .btn-nav-toggle-wrapper{
        -webkit-box-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: flex;
        min-height: 3.5rem;
        position: relative;
        text-align: center;
        z-index: 2;
        .btn-nav-toggle{
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: flex;
            -webkit-box-flex: 0;
            flex-grow: 0;
            flex-shrink: 0;
            font-size: 1rem;
            -webkit-box-pack: center;
            justify-content: center;
            padding: 0.5rem 0.75rem;

            &:hover{
                color: inherit;
            }
        }
    }

    .menu{
        padding: 1em;
    }

    .menu-list a,
    .menu-label{
        color: #fff;
    }

    .menu-list a:hover{
        background: darken($brand-primary, 10%);
    }

}
