.sidebar{
    height:100%;
    background: $bg-dark;
    color: #fff;
    position: absolute;
    z-index: 9999;
    width: 0;
    left: 0;
    overflow: hidden;
    top: 0;
    transition: width .15s ease-in-out;

    &.expanded{
        width: 250px;
        border-right: 2px solid #354b56;
    }

    .navbar-brand{
        color: #fff;
    }

    .wrapper-button{
        height: 50px;
    }

    .pnl-badge{
        max-width: 100px;
        width: 100px;
        margin: 20px auto;
    }

    .list-group{
        .list-group-item{
            padding: 0;
        }

        a{
            width: 100%;
            display: block;
            padding: 10px 15px;

            &:hover{
                background: #dedede;
                text-decoration: none;
            }

            &.active{
                background: $bg-light;
                font-weight: 800;
            }
        }
    }

    .sidenav{
        padding: 10px 20px;
        width: 100%;
    }
}
