h1, h2, h3, h4, h5, .btn, a, body, p, span, div{
  font-family: 'Lato', sans-serif;
}

.btn{
  padding: 5px 8px;
}

.hidden{
  display: none;
}

.track-list{
  list-style-type: none;
}

.track-list .track-title{
  font-family: 'Lato', sans-serif;
  font-size:1.1em;
  clear: both;
  padding: 0 0 0 3%;
}

.track-item {
  border-bottom: 1px solid #dadada;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px 0;
}

.controls {
    background: #385A6B;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
}

.modal-header{
  background: #475F75;
  color: #fff;
  padding: 10px 15px;
}

.modal-header .close{
  opacity: 1;
  color:#fff;
}

input[type=text], textarea{
  padding:10px;
  border-radius: 6px;
  border: 1px solid #dadada;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.progress, .files{
  margin: 20px 0;
}

.filelist li{
  list-style-type: none;
}

.filelist .filename{
  margin-right:20px;
}

.btn-icon{
  cursor:pointer;
}

.btn-cancel{
  color:Red;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
