.track-item{
    transition: all 1.5s ease;
    padding: 10px;
    overflow: auto;
    &.added{
        background-color: $bg-success;

    }
    &.processed{

        background-color: inherit;
    }

    .controls-inline{
        .btn{
            display: block;
            width: 100%;
            font-size: .85em;
            margin: 0 0 5px 0;

        }
    }

    wave{
        background: #fff;

    }

    .col-track{
        margin:0;
        padding: 0;
    }
}

.project-track{
    &.muted{
        background: #dedede;
    }

    &.loaded {
      background: $body-bg;
    }
}

.btn{
    &.muted{
        background: darken($bg-brand-info, 30%);
    }
}

.recording{
    img{
        margin-left: 20px;
    }
}
