.track-item{
    transition: all 1.5s ease;
    padding: 10px;
    &.added{
        background-color: $bg-success;

    }
    &.processed{

        background-color: inherit;
    }
}

.project-track{
    &.muted{
        background: #dedede;
    }
}

.btn{
    &.muted{
        background: $brand-danger;
    }
}
