.track-item{
    transition: all 1.5s ease;
    padding: 10px;
    &.added{
        background-color: $bg-success;

    }
    &.processed{

        background-color: inherit;
    }

    .controls-inline{
        .btn{
            display: block;
            width: 100%;
            font-size: .85em;
            margin: 0 0 5px 0;

        }
    }
}

.project-track{
    &.muted{
        background: #dedede;
    }
}

.btn{
    &.muted{
        background: darken($bg-brand-info, 30%);
    }
}
